.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .resume {
    display: flex; /* Add this line to use flex display */
    align-items: center; /* Add this line to center the items vertically */
    color: #fff;
  }

  /* Additional styles to space the icon from the text */
  .resume span {
    font-size: 2.5rem;
  }

  .resume i {
    font-size: 1.3rem; /* Adjust the file icon size */
    margin-left: 10px; /* Add margin between the word and the icon */
    margin-top: 13px; /* Adjust the vertical position of the icon */

  }

  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }

  .navbar-logos {
    display: grid;
    grid-template-columns: repeat(5,auto);
    list-style: none;
    grid-gap: 20px;
    color: #fff;
    justify-self: start;
    margin-left: -30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .email-icon:hover{
    color: #636363;
    transition: 250ms;
  }


  .phone-icon:hover{
    color: #636363;
    transition: 250ms;
  }


  .linkedin-icon:hover{
    color: #636363;
    transition: 250ms;
  }

  .github-icon:hover{
    color: #636363;
    transition: 250ms;
  }

  .resume:hover{
    color: #636363;
    transition: 250ms;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }

  .nav-item {
    height: 80px;
  }

  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }

  .nav-links:hover {
    border-bottom: 4px solid #ffffff;
    transition: all 0.2s ease-out;
  }

  .fa-bars {
    color: #fff;
  }

  .nav-links-mobile {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between; /* Distribute items evenly */
      align-items: center;
      width: 100%;
      height: 95vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      padding-top: 60px; /* Add padding to the top */

    }
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }

    .nav-links {
      text-align: center;
      padding: 6rem;
      width: 100%;
      display: table;
      font-size: 1.8rem; /* Adjust the font size */

    }

    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }

    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    .fa-times {
      color: #ffffff;
      font-size: 2rem;
    }

    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }


    @media screen and (max-width: 480px) {

      .resume span {
        font-size: 2.0rem;
      }

      .resume i {
        font-size: 1.0rem;
        margin-left: 5px; /* Add margin between the word and the icon */
      }

      .navbar-logos {
        grid-gap: 10px;

    }

    .email-icon i {
      font-size: 2.2rem;
    }

    .phone-icon i{
      font-size: 1.7rem;
    }

    .linkedin-icon i{
      font-size: 2rem;
    }

    .github-icon i {
      font-size: 2rem; /* Adjust the desired size */
    }


  }

  }